[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "==1.1.0"
transformers = "==2.5.1"
tqdm = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"

[requires]
python_version = "3.7"
