asttokens==2.2.1
backcall==0.2.0
boto3==1.26.115
botocore==1.29.115
Bottleneck
certifi==2022.12.7
cffi
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama
comm==0.1.3
contourpy==1.0.7
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
executing==1.2.0
filelock==3.11.0
flit_core
fonttools==4.39.3
fsspec
future
huggingface-hub==0.13.4
idna==3.4
ipykernel==6.22.0
ipython==8.12.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.4.4
lightning-utilities
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mpmath==1.3.0
nest-asyncio==1.5.6
networkx==3.1
numexpr
numpy==1.24.2
packaging==23.1
pandas
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.2.0
prompt-toolkit==3.0.38
psutil==5.9.5
pure-eval==0.2.2
pycparser
Pygments==2.15.0
pyparsing==3.0.9
python-dateutil
pytorch-lightning
pytorch-transformers==1.2.0
pytz
pywin32==306
PyYAML
pyzmq==25.0.2
regex==2023.3.23
requests==2.28.2
s3transfer==0.6.0
sacremoses==0.0.53
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.98
six
stack-data==0.6.2
sympy==1.11.1
threadpoolctl==3.1.0
tokenizers==0.13.3
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchmetrics
torchvision==0.15.1+cu118
tornado==6.3
tqdm
traitlets==5.9.0
transformers==4.28.1
typing_extensions==4.5.0
urllib3==1.26.15
wcwidth==0.2.6